# Ignore built files
*.opensdf
*.sdf
*.suo
*.user
win8.1/ipch/
win8.1/Debug/
win8.1/Release/
win8.1/x64/
win8.1/src/Debug/
win8.1/src/Release/
win8.1/src/x64/
win8.1/test/Debug/
win8.1/test/Release/
win8.1/test/x64/
win10/ie/ipch/
win10/ie/Debug/
win10/ie/Release/
win10/ie/x64/
win10/ie/src/Debug/
win10/ie/src/Release/
win10/ie/src/x64/
win10/ie/test/Debug/
win10/ie/test/Release/
win10/ie/test/x64/
win10/edge/ipch/
win10/edge/Debug/
win10/edge/Release/
win10/edge/x64/
win10/edge/src/Debug/
win10/edge/src/Release/
win10/edge/src/x64/
win10/edge/test/Debug/
win10/edge/test/Release/
win10/edge/test/x64/
*.opendb
