# Ignore built files
*.opensdf
*.sdf
*.suo
*.user
win8.1/ipch/
win8.1/Debug/
win8.1/Release/
win8.1/x64/
win8.1/src/Debug/
win8.1/src/Release/
win8.1/src/x64/
win8.1/test/Debug/
win8.1/test/Release/
win8.1/test/x64/